<div class="back" routerLink="">&#171;</div>

<form *ngIf="quiz; else error" class="quiz" (submit)="onSubmit($event)">
  <h1 class="text-decor">Quiz</h1>
  <h2 class="text-decor">{{ quiz.title }}</h2>

  <div class="question" *ngFor="let content of quiz.content; let qi = index">
    <p>{{ content.question }}</p>

    <label class="answer" *ngFor="let answer of content.answers; let ai = index">
      <input type="radio" [name]="qi" [value]="ai">
      <div></div>{{ answer }}
    </label>
  </div>

  <div *ngIf="!result; else resultBlock" class="btns-wrapper">
    <input class="btn" id="submit" type="submit" value="Submit">
  </div>
</form>

<ng-template #resultBlock>
  <h2 class="result-value" [style.background]="toShow.color">{{toShow.value + "%"}}</h2>
  <p class="result-text" [style.color]="toShow.color">{{toShow.text}}</p>
  <button class="btn" routerLink="">&#60; Back</button>
</ng-template>

<ng-template #error>
  <h1 class="text-decor">The quiz is not available</h1>
</ng-template>
