<div class="back" (click)="back()">&#171;</div>
<h1 class="text-decor">Quiz</h1>
<h2 class="text-decor">{{ quiz.title }}</h2>

<form class="quiz" (submit)="onSubmit($event)">
  <div class="question" *ngFor="let content of quiz.content; let qi = index">
    <p>{{ content.question }}</p>

    <label class="answer" *ngFor="let answer of content.answers; let ai = index">
      <input type="radio" [name]="qi" [value]="ai">
      <div></div>{{ answer }}
    </label>
  </div>

  <div *ngIf="!result; else resultBlock" class="btns-wrapper">
    <input class="btn" id="submit" type="submit" value="Submit">
  </div>

  <ng-template #resultBlock>
    <h2 class="result-value" [style.background]="toShow.color">{{toShow.value + "%"}}</h2>
    <p class="result-text" [style.color]="toShow.color">{{toShow.text}}</p>
    <button class="btn" (click)="back()">&#60; Back</button>
  </ng-template>
</form>
