* {
  animation: reveal 0.7s ease-in-out;
}

.answer {
  transition: 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  margin: 4px;
  border-radius: 10px;
  padding: 5px;
  color: rgb(100, 100, 100);
  background: rgb(245, 245, 245);
}

.answer:hover {
  background: rgb(235, 235, 235);
  cursor: pointer;
  transform: translateX(5px);
}

.answer>input {
  margin-right: 14px;
}

input {
  cursor: pointer;
}

.back {
  transition: 0.2s;
  font: bold 30px/1.5 monospace;
  text-align: center;
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  color: var(--light-gray);
  border: var(--light-gray) 5px dotted;
  background: #eee6;
  animation: btn-reveal 0.3s ease-out, back-anim 1s ease-in-out infinite;
}

.back:hover {
  border-radius: 0;
  animation-play-state: paused;
}
