* {
  animation: reveal 0.7s ease-in-out;
}

.answer {
  transition: 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  margin: 4px;
  border-radius: 10px;
  padding: 5px;
  color: rgb(100, 100, 100);
  background: rgb(245, 245, 245);
}

.answer:hover {
  background: rgb(235, 235, 235);
  cursor: pointer;
  transform: translateX(5px);
}

.answer>input {
  margin-right: 14px;
}

input {
  cursor: pointer;
}
