<form>
  <textarea [(ngModel)]="quiz.title" name="title" class="outline title-field" rows="1" maxlength="50"
    placeholder="Title of a quiz"></textarea>

  <div *ngFor="let question of quiz.content; index as qi" class="outline">
    <h3 class="text-decor">Question:</h3>
    <textarea [(ngModel)]="quiz.content[qi].question" [name]="'q'+qi" rows="1" maxlength="170"></textarea>

    <div>
      <h3 class="text-decor">Answers:</h3>
      <textarea *ngFor="let answer of question.answers; index as ai" [(ngModel)]="answers[qi][ai]"
        [ngModelOptions]="{standalone: true}" rows="1" maxlength="70"></textarea>

      <button class="btn blue op" [disabled]="validatePlus(qi)" (click)="addAnswer(qi)">+</button>
      <button class="btn blue op" [disabled]="validateMinus(qi)" (click)="removeAnswer(qi)">-</button>

      <div class="correct">
        Correct: <input [(ngModel)]='quiz.content[qi].correct' [name]="'c'+qi" class="number" min="0"
          [max]="question.answers.length - 1" type="number">
      </div>
    </div>
  </div>

  <button class="btn blue" (click)="addQuestion()">+ Question</button>

  <div class="btns-wrapper">
    <input class="btn" type="submit" value="Send" (click)="onSubmit($event)">
  </div>
</form>
