textarea::selection {
  background: rgb(125, 160, 240);
  color: white;
}

textarea:focus,
.number:focus {
  border-color: rgb(187, 187, 187);
}

textarea,
.number {
  caret-color: rgb(100, 100, 100);
  line-height: 1.6rem;
  font-size: 16px;
  transition: .15s;
  border: none;
  color: rgb(120, 120, 120);
}

.number {
  caret-color: transparent;
  font-family: 'Consolas', monospace;
  cursor: default;
  font-weight: 600;
  color: rgb(120, 120, 120);
  width: 30px;
}

textarea {
  overflow: hidden;
  resize: vertical;
  min-height: 25px;
  max-height: 55px;
  width: 97%;
  border-bottom: 1px solid var(--light-gray);
}

.correct {
  font-family: 'Consolas', monospace;
  margin-left: 10px;
  display: inline-block;
  color: rgb(150, 150, 150);
}

.title-field {
  font-family: 'Consolas', monospace;
  resize: none;
  text-align: center;
}

.text-decor {
  margin: 0;
  text-align: left;
}

.blue {
  margin: 5px 5px 5px 0;
  width: auto;
  background: rgb(95, 130, 220);
  box-shadow: 0 4px rgb(80, 80, 210);
}

.blue:active {
  box-shadow: 0 1px rgb(80, 80, 210);
}

.op {
  font-weight: bold;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.outline {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 4px dotted var(--light-gray);
}

::-webkit-input-placeholder {
  opacity: .6;
  transition: opacity 0.3s;
}

::-moz-placeholder {
  opacity: .6;
  transition: opacity 0.3s;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
