<div class="container">
  <div class="menu" *ngIf="!active">
    <h1 [ngClass]="{'not-active': !chooseMode}" class="title selector" (click)="switchMode(true)">Pass the test</h1>
    <h1 [ngClass]="{'not-active': chooseMode}" class="title selector" (click)="switchMode(false)">Add a test</h1>
  </div>

  <div *ngIf="!active" [ngSwitch]="chooseMode">
    <div *ngSwitchCase="true">
      <ul *ngIf="quizzes.length; else noQuiz">
        <li [ngClass]="{'quiz-completed': false}" *ngFor="let quiz of quizzes" (click)="setActive(quiz)">
          {{ quiz.title }}
        </li>
      </ul>
    </div>

    <ng-template #noQuiz>
      <p style="opacity: 0.5; text-align: center;">No available tests</p>
    </ng-template>

    <div *ngSwitchDefault>
      <app-add [quizzes]="quizzes" [back]="switchMode.bind(this, true)"></app-add>
    </div>
  </div>

  <div *ngIf="active">
    <div class="back-btn" (click)="setActive(null)">&#171;</div>
    <app-quiz [quiz]="active"></app-quiz>
  </div>
</div>
