<div class="container">

  <div *ngIf="activeQuiz" class="back-btn" (click)="activeQuiz = null">&#171;</div>

  <div *ngIf="!activeQuiz">
    <h1 class="title">{{ title }}</h1>
    <ul *ngIf="quizzes.length; else noQuiz">
      <li [ngClass]="{'quiz-completed': false}" *ngFor="let quiz of quizzes" (click)="activeQuiz = quiz">
        {{ quiz.title }}
      </li>
    </ul>
  </div>

  <ng-template #noQuiz>
    <p style="opacity: 0.5; text-align: center;">No available tests</p>
  </ng-template>

  <app-quiz *ngIf="activeQuiz" [quiz]="activeQuiz"></app-quiz>
</div>
