<label (click)="focusSearchField()" for="search" class="search-ico"><img src="../../assets/search.png" width="30px"
    alt="Find"></label>
<input type="text" #search id="search" placeholder=" Find..." accesskey="s">

<ul *ngIf="quizzes.length; else noQuiz">
  <li *ngFor="let quiz of quizzes" (click)="setQuiz(quiz)" routerLink="quiz" [queryParams]="{id: quiz.id}">
    {{ quiz.title }}
    <small *ngIf="quiz.passedValue" class="completed">{{quiz.passedValue}} - {{quiz.passedAt | date}}</small>
  </li>
</ul>

<ng-template #noQuiz>
  <p>No test available</p>
</ng-template>
