:root {
  --bg-color: rgb(140, 190, 255);
  --light-gray: #e6e6e6;
}

html {
  overflow-y: scroll;
  cursor: default;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: var(--bg-color) url(assets/bg.jpg) repeat;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar {
  background: var(--bg-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(120, 120, 120);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(150, 150, 150);
}

::selection {
  background: none;
}

input,
textarea,
button {
  outline: none;
}

.title {
  margin: 0 0 16px 0;
  color: rgb(100, 100, 100);
  text-shadow: 0 3px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Animations */
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes btn-reveal {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes back-anim {
  50% {
    transform: translateX(5px);
  }
}

/* Buttons */
.btn {
  margin-right: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s;
  padding: 8px;
  width: 70px;
  border: none;
  border-bottom: 4px solid;
  border-radius: 2px;
  font-size: 16px;
  color: white;
  background: rgb(80, 220, 80);
  border-color: rgb(80, 180, 80);
}

.btns-wrapper {
  max-width: fit-content;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  filter: contrast(125%);
}

.btn:disabled {
  opacity: 0.5;
  cursor: auto;
  animation: none;
}

.btn:active {
  transform: translateY(3px);
  filter: none;
  border-bottom-width: 1px;
}
